<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

    {% load static %}

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'jquery_ui/jquery-ui.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'datatables/media/js/jquery.dataTables.min.js' %}"></script>

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!--<link href="{% static 'datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">-->


    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

</head>
<body>

    <div class="container">

        <h1>This is a Test, woo!</h1>

        <p>Test template: {{ test }}</p>

        <hr>

        <div class="row">

            <div class="col-lg-8 justify-content-center">

                <div class="panel panel-default">

                    <div class="panel-body" >

                        <table id="virgin-table" class="table table-hover">

                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                    <th>Header 3</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Content 1</td>
                                    <td>Content 2</td>
                                    <td>Content 3</td>
                                </tr>

                                <tr>
                                    <td>Content 4</td>
                                    <td>Content 5</td>
                                    <td>Content 6</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">

        $('#virgin-table').dataTable({
            responsive: true,
            "aaSorting": []
        });

    </script>

</body>
</html>
